.containner{
    margin-left: 50px;
    border:1px solid black;
    width:1000px;
}

.row_1{
    width: 100%;
    height: 90px;

}

.row_1 .icon_1{
    margin-left: 30px;
    width: 10%;
    float: left;
}

.row_1 .title{
    font-weight: bold; 
    width: 80%; 
    float: left;
    font-size: 22px;
}

.row_1 .icon_2{
    margin-left: 30px;
    width: 10%;
    float: left;
}

.icon_2_img{
    margin-top: 10px;
}

.row_2{
    width: 100%;
    height: 90px; 
}

.row_2 .date_icon {
    margin-top: 10px;
    margin-left: 112px;
    width: 5%;
    float: left;
}

.row_2 .date_text {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 7%;
}

.row_2 .line{
    float: left;
    margin-top: 10px;
    text-align: center;
    color:#00c2dd;
}

.row_2 .localization_icon {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    width: 5%;
}

.row_2 .localization_text{
    float:left;
    margin-top: 10px;
    width: 68%;
}

.row_3{
    width: 100%;
    height: 180px;
}

.row_3 .content_text{
    width: 100%;
    min-height: 180px;
    padding:20px;
    
}

.em_style{
    color:#00c2dd;
}

.hr_style{
    margin-left: 25px;
    margin-right: 25px;
}

.row_4{
    width: 100%;
    min-height: 60px;
}

.row_4 .icon_5 {
    margin-left: 30px;
    width: 5%;
    float: left;
}

.row_4 .speaker{
    float: left;
}

.form_style{
    margin-left: 50px;
    max-width: 1000px;
    height: 250px;
    border: 1px solid black;
}

.title_tar{
    margin-left: 50px;
}

.row_camp_form{
    margin: 25px;
}

.form_style_label{
    font-weight: bold; 
    margin-right: 10px;
}

.form_style_button{
    float: right;
    width: 75px;
    height: 25px;
    color:white;
    background-color: #00c2dd;
    border: 0px;
    border-radius: 25px;
    cursor: pointer;
}

.form_style_input{
    border-radius: 15px;
    border: 1px solid black;
}

.menu{
    display: block;
    width: 100%;
    height:60px;
    background-color: #00c2dd;
}

.option_menu{
    float: left;
    max-width: 150px;
    margin:4px 15px 4px 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

.option_menu_text:hover{
    cursor:pointer;
    color:white;
}

.form_style_button_v2{
    width: 120px;
    height: 25px;
    color:white;
    background-color: #00c2dd;
    border: 0px;
    border-radius: 25px;
    cursor: pointer;
}

.form_tarefa_3{
    margin-left: 50px;
}

.label_tarefa_3{
    font-weight: bold;
}

.label_tarefa_3_case_5{
    margin-right: 10px;
}

.container_5{
    margin-left: 50px;
    width: 325px;
    height: 110px;
    border: 1px solid black;
}

.form_stylr_input_case_5{
    width: 100px;
    text-align: center;
}

.container_5_left{
    width: 155px;
    height: 110px;
   float: left;
}

.container_5_center{
    width: 15px;
    height: 110px;
    float: left;
}

.container_5_center_text{
    padding-top: 33px;
    text-align: center;
}

.container_5_right{
    width: 155px;
    height: 110px;
    float: left;
}

.button_clacular{
    margin-top: 15px;
    margin-left: 300px;
    float: left;
}

.row_camp_form_etiq{
    width: 150px;
}

.container_5_etiq{
    height: 150px;
}